


.header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    
    background-color:none;
    
}

.logo img {
    max-height: 4rem; 
    align-self: auto;
}

.containerlogos {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

}

#form1{
    text-decoration: none;
    font-size: 1.2rem;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    letter-spacing: -0.25px;
    align-self: self-end;

}

.logo2 {
    padding: 0;
    display: flex;
    justify-content:center;
}

.icono {
    margin-right: 0.2rem; 
}

.icono img {
    width: 1.8rem; 
    height: 1.8rem;
    margin-right: 2rem;
}

nav{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(165, 162, 162);
    font-size:medium;
    margin-top: 1.2rem;
}

nav{
    display: flex;
    justify-content: space-around;
}

nav ul {
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 0px;
}
  
nav ul li {
    display: inline-block; 
    position: relative;

}
  
nav ul li a {
    text-decoration: none;
    color: #666;
    font-size: 1rem;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    padding: 0.5rem;
    letter-spacing: -0.25px;
}
  
nav ul li ul {
    display: none;
    position: absolute;
}
  
nav ul li:hover ul {
    display: block;
}
  
nav ul li ul li {
    display: block;
    white-space: nowrap;
}
  
nav ul li ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: grey;
    transition: background-color 0.3s;
}
  

.menu2{
    padding: 0.7rem;
    background-color: #007ea8;
    align-items: flex-start;
    margin-left: 0%;
    width:100% ;
    margin-top: 1.2rem;
}

.menu2 ul{
    list-style-type: none;
    margin-left: 0%;
    display: flex;
    justify-content: space-around;
}

.menu2 ul li{
    display: inline;
    font-weight: bold;
    list-style: none;
    cursor: pointer;
    
}

.menu2 ul li a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-family: "Inter", sans-serif;
    padding: 0.5rem 1rem;
}


/* ----------------------------------Carrusel de Fotos1------------------------------------- */



.carousel {
    width: 80%;
    margin: 50px auto 0;
    overflow: hidden;
    border-radius: 22px;
}

.carousel-list {
    display: flex;
    padding: 0;
    margin: 0;
    width: 600%; 
    animation: slide 20s infinite alternate ease-in-out;
}

.carousel-item {
    width: 16.666%; 
    list-style: none;
}

.carousel img {
    width: 100%;
    height: auto;
    display: block;
}

@keyframes slide {
    0% { margin-left: 0; }
    12.5% { margin-left: 0; }
   
    25% { margin-left: -100%; }
    37.5% { margin-left: -100%; }
   
    50% { margin-left: -200%; }
    62.5% { margin-left: -200%; }
   
    75% { margin-left: -300%; }
    87.5% { margin-left: -300%; }
}  


#tituloInamu{
    margin-top: 5rem;
    margin-bottom: 5rem;
    font-style:normal;
    font-weight: 800;
    font-size: 2.3rem ;
    line-height: 3.2rem;
    text-align: center;
    color: #007ea8;
    letter-spacing: -1.3px;
    font-family: sans-serif 
}

/*-----------------------------------NOSOTRAS Y EMERGENCIA--991-----------------------*/
.cuadro{

    display: flex;
    padding-block: 3rem;
    margin: 3rem;
    justify-content: center;
    width: 80%;
    margin-left: 6.4rem;
   
   
}

.nosotras{
    width: 50%;
    background-color: #007ea8;
    color: white;
    box-sizing: border-box;
    border-radius: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 3rem;
}


#tituloNosotras{
    margin-bottom: 0;
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    unicode-bidi: isolate;
    font-size: 3rem;
    margin-left: 3.3rem;

}

.textoNosotras{
  
    margin: 3.3rem;
    margin-top: 0.2rem;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}


#picMujeres{
    border-radius:22px;
    align-self: self-end;
    

}

.emergencias{
    width: 50%;
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: #ebeef1;
    display: flex;
    flex-direction: column;
   
    text-align: center;
}

.textoEmer{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#textoEmergencias{
    font-size: 2.5rem;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 30px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    letter-spacing: -0.5px;
    color: black;
    margin-top: 4rem;
    line-height: 3rem;

}


#textoEmergencias2{
    font-size: 1.5rem;
    line-height: 30px;
    color: grey;

}
.imagenes911{

    justify-content: space-between ;
    margin-left: 2rem;
    margin-top: 5rem;
}

#icono911{
    border-radius:22px;
    margin-left: 2rem;
    size: 1.6rem;
}

#iconoTelefono{
    margin-left: 2rem;
    size: 1.6rem;
}


/*----------------------------------------------CASA DE MUJERES------------------*/
.backFondo{
    
    display: flex;
    justify-content: space-around;
    height: auto;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    width: 26.1rem;
    background-image: url("https://www.inamu.go.cr/image/journal/article?img_id=2623351&t=1647510016780");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    margin: 50px auto 0;
    width: 70%;
    border-radius:22px;
}       


.casaDeMujeres{
   
color: white;
}

.logoCasa1{

    display: flex;
    justify-content: center;
    margin-top: 3rem;
    

}

.textoCasa{

    position: relative;
    padding-left:6rem;
    padding-right: 6rem;
    justify-content: center;
    margin-left: 4rem;
}


#textoCasa2{
    color: white;
    font-size: 1.3rem;
    font-family: Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: -0.25px;
}



#leerMas2{
    text-decoration: none;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.3rem;
}

/* ----------------------------------------Card Slider-------------------------------- */



.carousel2 {
    width: 80%;
    margin: 50px auto 0;
    overflow: hidden;
    border-radius: 22px;
}

.carousel-list2 {
    display: flex;
    padding: 0;
    margin: 0;
    width: 600%; 
    animation: slide 60s infinite alternate ease-in-out;
}

.carousel-item2 {
    width: 16.666%; 
    list-style: none;
}

.carousel2 img {
    width: 100%;
    height: auto;
    display: block;
}

@keyframes slide {
    0% { margin-left: 0; }
    12.5% { margin-left: 0; }
   
    25% { margin-left: -100%; }
    37.5% { margin-left: -100%; }
   
    50% { margin-left: -200%; }
    62.5% { margin-left: -200%; }
   
    75% { margin-left: -300%; }
    87.5% { margin-left: -300%; }
}  

#flechas{
    size: 3rem;
}




/*------------------------------------POLITICAS NACIONALES------------------*/


#tituloPoliticas{
    margin-left: 12rem;
    margin-top: 0.4rem;
    color: white;
    font-weight: 800;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 40px;
    letter-spacing: -0.5px;
}

#tituloPoliticas2{
    margin-left: 10.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-family:  Helvetica, Arial, sans-serif;
    font-style: normal;
    color: white;
    font-weight: 400;
    letter-spacing: 1px;
  }

.politicasContainer{
    width: 100%;
    margin-top: 6rem;
    padding: 3rem;
    height: 52rem;
    justify-content: center;
    background-image: url("https://www.inamu.go.cr/image/journal/article?img_id=2623351&t=1647510016780");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    margin-left: 0;
}


.pieg{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 80%;
    background-color: white;
    border-radius:22px;
    padding: 1.5rem;
    height: 15rem;
    
}

.fotoPieg{
    grid-column: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid #9d9d9d;
}

#textoPieg{
    grid-column: 2 / 3;
    
}

#tituloPieg2{
    font-size: 2.5rem;
    color: black;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    margin-left: 9rem;
}

#parrafoPieg{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.25px;
    color: #666;
}


#tituloPlanovi{
    font-size: 2.5rem;
    color: black;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    margin-left: 9rem;
}

#parrafoPlanovi{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.25px;
    color: #666;
}


.planovi{
    display: grid;
    margin-top: 4rem;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 80%;
    background-color: white;
    border-radius:22px;
    padding: 1.5rem;
    height: 15rem;

}


/*----------------------------------CARDS--------------------------------*/

#noticias{
    font-size: 3.3rem;
    text-align: center;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 800;
    line-height: 52px;
    letter-spacing: -2px;
    color: #191919;
    margin-top: 5rem;
   
}

.cardsContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 6.2rem;
    margin-bottom: 12rem;
   
    
    
}

.carta{
    width: 325px;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    margin: 20px;
}

.carta img{
    width: 90%;
    height: auto;
    padding: 1rem;
    align-self: center;
}

.contenidoCarta{
    padding: 16px;
}

.contenidoCarta h3{

    font-family:Helvetica, Arial, sans-serif; 
    margin-bottom: 16px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.25px;
}

.contenidoCarta p {
    font-size: 18px;
    color: #666;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    letter-spacing: -0.25px;
}

.contenidoCarta .btnCards{
    display: inline-block;
    text-decoration: none;
    margin-top: 10px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 24px;
    letter-spacing: -0.25px;
    color: #007ea8;
}


/*----------------------------------ENLACES-----------------------------------------*/

.enlaces{

    background-color: #f6f6f6; 
}

.enlacesContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    background-color: #f6f6f6;
   
}

.enlaces1{
    text-align: center; 
    grid-column: 1/2;

}

.enlaces2{
    text-align: center;
    grid-column: 2 / 3;
 
}

.enlaces3{
    text-align: center;
    grid-column: 3 / 4;

}

.enlaces img{
    height: auto;
    max-width: 50%;
    width: 220px;
    height: 125px;
    border-radius: 20px;
    object-fit: cover;
    margin-top: 6rem;
   
} 

#textoEnlaces{
    font-size: 1.4rem;
    display: block;
    margin-top: 20px;
    color: rgb(63, 63, 63);
    text-align: center;
    line-height: 27px;
    margin-bottom: 8rem; 
}

#tituloEnlaces{
    text-align: center;
    font-size: 42px;
    font-family: Helvetica, Arial, sans-serif;
    padding-top: 6rem;
    font-weight: 800;
    color: #414040;   
}



/* -------------------------------ASI SOMOS---------------------------- */


.AsiSomosContainer{
    display: grid;
    grid-template: 1fr 1fr 1fr;
   
}

.textoSomosContainer{
    grid-row: 1;
    display: flex;
    margin-left: 12.5rem;
    margin-top: 3rem;
    font-size: 20px;
    color: #007EA8;
    font-family: arial;
    font-style: normal;
    line-height: 30px;
    letter-spacing: -0.25px;
}

.textoSomosContainer2{
    grid-row: 2;
    color: #007ea8;
    margin-left: 13rem;
   
}

.menuAsiSomosContainer{
    grid-row: 3;
    margin-left: 12.5rem;
    color: #007EA8;
    font-family: arial;
    font-style: normal;
    line-height: 30px;
    letter-spacing: -0.25px;
    font-size: 0.9rem;
   
}


.menuAsiSomosContainer2{
    display: flex;
    justify-content: center;
    color: #666;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.25px;
    margin-left: 5.2rem;
}

.historia{
    grid-row: 1;
    font-size: 1.8rem;
    color: #4b4b4b;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 2rem;

}

.menuAsiSomosContainer3{
    display: grid;
    grid-template: 10% 90% / 1fr ;
    width: 80%;
    justify-self: center;
    
}

.nuestraHistoriaTexto{
    grid-row: 2;
    margin-bottom: 12rem;
}

#tituloAsiSomos2{

    font-family:Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 42px;
    line-height: 52px;
    letter-spacing: -0.5px;
    color: #007ea8;
    width: 60%;    
}



.menuAsiSomos1 ul{
    list-style-type: none;
   
}

.menuAsiSomosContainer{

    border-bottom: 1px solid rgba(169, 169, 169, 0.801);
    
}

.menuAsiSomos1 ul li{
    display:inline;
    padding-left:3px;
    padding-right:3px; 
    text-align: center;
    padding-right: 2.2rem;
}


/* ------------------------------------ Contactenos---------------------------------- */


#contactoTexto{
   color: #0098c8;
   font-family: Arial;
   font-size: 1.2rem;
   margin-left: 2rem;
}

.contactenos{
    color: #0098c8;
    font-family: Arial;
    font-size: 2rem;

}

.contactarnos{

    color: grey;
    font-family: Arial;
    font-size: 1.4rem;
}


.contactoContainer{
    margin-left: 10rem;
    margin-top: 5rem;
}

.tablaContainer{
    display: flex;
    justify-content: space-around;
    margin-bottom: 11rem;
}

#boldContactenos{
    font-weight: 700;
    font-size: 1.1rem;
}

.tablaContainer2{
   width: 90%;
   border-collapse: collapse;
   border-spacing: 0%;
   font-family: arial;
   
}

.tablaContainer2 img{
    float: left;
    margin-right: 0.4rem;
}

.tablaContainer2 th{
    border: 1px solid #ddd;
    padding: 0.5rem;
    text-align: left;
    background-color: #0098c8;
    color: white;
    font-weight: 900;
    font-size: 1.4rem;
}

.tablaContainer2 td{
    border: 1px solid #ddd;
    padding: 0.4rem;
    text-align: left;
}


/* ----------------------------------------FOOTER--------------------------------- */



.footer1{
    display: grid;
    grid-template: 1fr 1fr 1fr/30% 30% 40%;
    gap: 4rem;
    row-gap: 0;
    background-color: #f7f7f7;
    width: 100%;
}

.logoFooter{
    grid-column: 1;
    grid-row: 1;
    align-self: self-start;
    
}

#inamuFooter{
    display: flex;
    align-self: flex-start;

}

.copyright{
    grid-column: 1;
    grid-row: 2;
    font-size: 1rem;
    color: #666;
    font-style: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-content: flex-start;
    line-height: 2rem;
    justify-content: center;
    
}

.ccImagen{
    grid-column: 2;
    grid-row: 1;
    align-content: center;
    align-content: flex-end;
    margin-bottom: 5rem;
}

.openDatabase{
    grid-column: 2;
    grid-row: 2;
    font-size: 1rem;
    color: #666;
    font-style: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-content: flex-start;
    line-height: 2rem;
}

.mapaSitio{
    grid-column: 3;
    grid-row: 1;
    align-content: center;
    font-size: 18px;
    margin: 0;
    font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    color: #191919
}

.accesibilidad{
    grid-column: 3;
    grid-row: 2;
    color: #666;
    font-style: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: start;
    line-height: 2rem;

 
}

.redesFooter{
    grid-column: 2;
    grid-row: 3;
    align-items: end;
    margin-right: 4rem;
}

.logoFooter{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top:6rem ;
}




