.header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    
    background-color:none;
    
}

.logo img {
    max-height: 4rem; 
    align-self: auto;
}

.containerlogos {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

}

#form1{
    text-decoration: none;
    font-size: 1.2rem;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    letter-spacing: -0.25px;

}

.logo2 {
    padding: 0;
    display: flex;
    justify-content:center;
}

.icono {
    margin-right: 0.2rem; 
}

.icono img {
    width: 1.8rem; 
    height: 1.8rem;
    margin-right: 2rem;
}

nav{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(165, 162, 162);
    font-size:medium;
    margin-top: 1.2rem;
}

nav{
    display: flex;
    justify-content: space-around;
}

nav ul {
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 0px;
}
  
nav ul li {
    display: inline-block; 
    position: relative;

}
  
nav ul li a {
    text-decoration: none;
    color: #666;
    font-size: 1rem;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    padding: 0.5rem;
    letter-spacing: -0.25px;
}
  
nav ul li ul {
    display: none;
    position: absolute;
}
  
nav ul li:hover ul {
    display: block;
}
  
nav ul li ul li {
    display: block;
    white-space: nowrap;
}
  
nav ul li ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: grey;
    transition: background-color 0.3s;
}
  

.menu2{
    padding: 0.7rem;
    background-color: #007ea8;
    align-items: flex-start;
    margin-left: 0%;
    width:100% ;
    margin-top: 1.2rem;
}

.menu2 ul{
    list-style-type: none;
    margin-left: 0%;
    display: flex;
    justify-content: space-around;
}

.menu2 ul li{
    display: inline;
    font-weight: bold;
    list-style: none;
    cursor: pointer;
    
}

.menu2 ul li a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-family: "Inter", sans-serif;
    padding: 0.5rem 1rem;
}

.carrucel {
    width: 1280px;
    height: auto;
    margin: 50px auto 0;
    overflow: hidden;
    border-collapse:collapse;
    border-spacing: 0;
    width: 70%;
}
.carrucel ul {
display: flex;
padding: 0;
width: 400%;
animation: slide 10s infinite alternate ease-in-out;
}

.carrucel li {
width: 100%;
list-style: none;
position: relative;
}

.carrucel img {
width: 100%;
}
@keyframes slide {
0% {margin-left: 0;}
20% {margin-left: 0;}

25% { margin-left: -100%;}
45% { margin-left: -100%;}

50% { margin-left: -200%;}
70% { margin-left: -200%;}

75% { margin-left: -300%;}
100% { margin-left: -300%;}
}
@media(max-width:991px) {
body {
    padding: 30px;
}
.carrucel {
    width: 100%;
}
}






#tituloInamu{
    margin-top: 5rem;
    margin-bottom: 6rem;
    font-style:normal;
    font-weight: 800;
    font-size: 2.8rem ;
    line-height: 3.2rem;
    text-align: center;
    color: #007ea8;
    letter-spacing: -1.3px;
    font-family: sans-serif 
}


.cuadro{

    display: flex;
    padding-block: 3rem;
    margin: 3rem;
    justify-content: center;
   
   
}

.nosotras{
    width: 450px;
    background-color: #007ea8;
    color: white;
    box-sizing: border-box;
    border-radius: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 3rem;
}


#tituloNosotras{
    margin-bottom: 0;
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    unicode-bidi: isolate;
    font-size: 3rem;
    margin-left: 3.3rem;

}

.textoNosotras{
  
    margin: 3.3rem;
    margin-top: 0.2rem;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}


#picMujeres{
    border-radius:22px;
    align-self: self-end;

}

.emergencias{
    width: 28.1rem;
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: #ebeef1;
    display: flex;
    flex-direction: column;
   
    text-align: center;
}

.textoEmer{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#textoEmergencias{
    font-size: 2.5rem;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 30px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    letter-spacing: -0.5px;
    color: black;
    margin-top: 4rem;

}


#textoEmergencias2{
    font-size: 1.5rem;
    line-height: 30px;
    color: grey;

}
.imagenes911{

    justify-content: space-between ;
    margin-left: 2rem;
    margin-top: 5rem;
}

#icono911{
    border-radius:22px;
    margin-left: 2rem;
    size: 1.6rem;
}

#iconoTelefono{
    margin-left: 2rem;
    size: 1.6rem;
}


.backFondo{
    
    display: flex;
    justify-content: space-around;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    width: 28.1rem;
    background-image: url("https://www.inamu.go.cr/image/journal/article?img_id=2623351&t=1647510016780");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}       
.casaDeMujeres{
   
color: white;
}



